/* this is all pages */

body {
    background-color: blanchedalmond;
}


#header {
    text-align: center;
}

h1 {
    text-align: center;
    color: #120505;
}

h2 {
    text-align: center;

}



/* Home page */


#domspic {
    text-align: center;
}

#h3a {text-align: center;}

/* About page */
#img1 {
    text-align: center;
}

#img2 {
    text-align: center;
}

#img3 {
    text-align: center;
}

/* portfolio */

#img4 {
    text-align: center;
}

#img5 {
    text-align: center;

}

#img5 {
    text-align: centerß;
}